nhl_data_hub/target/
nhl_data_hub/dbt_packages/
nhl_data_hub/logs/


nhl_data_hub/dbt_project.yml


logs/

nhl_data_hub/macros/dp_create_external_table_game_plays.sql
nhl_data_hub/macros/dp_create_external_table_game_scratches.sql
nhl_data_hub/macros/dp_create_external_table_game_teams_stats_v2.sql
nhl_data_hub/macros/dp_create_external_table_games.sql

scripts/bin/__pycache__
scripts/bin/clean_flat_file.ipynb
scripts/bin/upload_gcp.ipynb
scripts/bin/dbt_common.py
scripts/bin/gcp_query.py
scripts/bin/gcp_external_table.py

scripts/config/config.json